<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">  <!-- кодировка текста на странице-->
    <title>dz_Flask_12_CSS_HTML</title>
    <!-- устанавливаем связь шаблона index.html и таблицы стилей index.css, указывая относительный адрес url
     по отношению к __main___ с учётом того, что по умолчанию __main___
     находит шаблоны и статические файлы в директориях templates и static соответственно-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index12.css') }}" />
</head>

<body>  <!-- второй элемент (если есть первый) - содержимое html-документа -->
    <img
         src="{{ url_for('static', filename='img/Synergy.png') }}"
         alt="здесь будет рисунок"
         height="100"
         width="200"
        />
    <br/>
    <m>Здесь учат</m><br />         <!-- подпись под рисунком-->
<!-- ниже: текст сообщения и таблица при открытии главной страницы-->
    <h>ДЗ_12 HTML & CSS</h><br />
    <p>Базовое веб-приложение на Flask.</p><br />
    <p>HTML и CSS — это основные инструменты веб-разработчика, которые используются для создания сайтов и веб-приложений.
        Изучение HTML и CSS необходимо для понимания основ веб-разработки, создания собственных проектов,
        повышения квалификации, развития навыков логического мышления и знакомства с основами программирования.
        В нашем случае изучение HTML и CSS позволит создавать красивые и правильно функционирующие сайты</p><br /><br />

    <div class="table">    <!-- Объединяем все теги для таблицы, чтобы указать общие свойства -->
        <table>            <!-- Открываем тег для построения таблицы -->

            <caption>Дисциплина "Фреймворк Flask"</caption> <!-- Название таблицы -->

            <!-- Строка ячеек заголовков таблицы -->
            <tr>
                <th>Тема1. Основы</th><th>Тема2. HTML CSS</th><th>Тема3. Шаблоны формы</th>
                <th>Тема4. Flask-SQLAlchemy</th><th>Тема5. Авторизация</th><th>Тема6. REST API</th>
                <th>Тема7. Итоговый проект</th><th>Итоговая аттестация</th>
            </tr>

            <!-- 2-я Строка таблицы -->
            <tr>
                <td>посещение 100%</td><td>посещение 100%</td><td>посещение - %</td><td>посещение - %</td>
                <td>посещение - %</td><td>посещение - %</td><td>посещение - %</td><td>посещение - %</td>
            </tr>

            <!-- 3-я Строка таблицы -->
            <tr>
                <td>ДЗ 50 %</td><td>ДЗ 50 %</td><td>ДЗ - %</td><td>ДЗ - %</td>
                <td>ДЗ - %</td>    <td>ДЗ - %</td><td>Проект - %</td><td> - %</td>
            </tr>

            <!-- 4-я Строка таблицы -->
            <tr>
                <td>no comments</td><td>no comments</td><td>no comments</td><td>no comments</td>
                <td>no comments</td><td>no comments</td><td>no comments</td><td>no comments</td>
            </tr>
        </table>
    </div>
</body>
</html>