/*Все атрибуты стилей, кроме табличных, были прокомментированы в предыдущем дз11*/
body {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: blanchedalmond;

    h{
    display: block;
    font-size:60px;
    font-weight: bold;
    font-family: cursive;
    padding-left: 100px;
    box-sizing: content-box;
    width: 50%;
    color: blue;
}

    p{
    font-size:40px;
    text-align: center;
    padding-left: 100px;
    box-sizing: content-box;
    width: 50%;
    color:green;
}

    img{
    font-size:30px;
    padding-right: 50px;
    color:black;
}

    m{
    font-size:24px;
    font-weight: bolder;
    padding-right: 50px;
    color:maroon;
}
    .table{
        font-size: 24px;
        text-align: center;
        padding-left: 10px;
        box-sizing: content-box;
        width: 50%;
        td, th{
            width: max-content;
        }
    }
    /*формат границ таблицы и ячеек*/
    table {
        table-layout: fixed;        /*установка одинаковой ширины ячеек таблицы*/
        border-collapse: collapse;  /*единые (слитные) границы для ячеек таблицы*/
        border: 4px solid grey;     /*ширина, стиль и цвет наружных границ*/
        width: 1500px;              /*Ширина: таблицы в px, ячеек в %% от ширины таблицы*/
    }

    /*Формат ячеек колонок*/

    th {
        font-size: 24px; /*размер шрифта заголовков колонок*/
        font-weight: bold; /*стиль шрифта заголовков колонок*/
        color: #30799B; /*цвет шрифта заголовков колонок*/
        background: #A5D6D9; /*фон ячеек заголовков*/
        border-top: 4px solid #11557C; /*ширина, стиль и цвет верхней границы ячеек заголовков */
        border-bottom: 1px solid white; /*ширина, стиль и цвет нижней границы ячеек заголовков */
        padding: 8px;   /*отступ текста заголовка колонки от всех границ ячейки заголовка*/
        /*width: 12.5%;   /*Ширина ячейки %% от ширины таблицы*/
    }

    /*Формат ячеек колонок*/

    td {
        color: dodgerblue;
        background: #D3E7E9;
        border-top: 1px solid transparent;
        border-bottom: 1px solid white;
        padding: 8px;
    }

    tr:hover td {               /*подсветка строки таблицы при наведении курсора*/
        background: papayawhip;
    }

    caption {               /*Расположение названия таблицы*/
        font-size: 36px;
        color: #9C1A1C;
        caption-side: top;  /*top - над таблицей*/
        text-align: center; /*по центру*/
        padding: 10px;
    }
}




